In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kibala,TD,2021-04-17 23:55:37,9.1104,18.3463,80.60,39,0,4.85
1,1,Dubbo,AU,2021-04-17 23:55:37,-32.2500,148.6167,50.00,44,90,5.75
2,2,Albany,US,2021-04-17 23:51:39,42.6001,-73.9662,48.00,71,99,3.85
3,3,Kapit,MY,2021-04-17 23:55:38,2.0167,112.9333,73.02,99,100,1.39
4,4,Thompson,CA,2021-04-17 23:53:23,55.7435,-97.8558,30.20,69,90,14.97

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kibala,TD,2021-04-17 23:55:37,9.1104,18.3463,80.60,39,0,4.85
6,6,Atuona,PF,2021-04-17 23:55:39,-9.8000,-139.0333,80.64,74,50,19.30
8,8,Vaini,TO,2021-04-17 23:55:40,-21.2000,-175.2000,78.80,69,20,11.50
10,10,Rikitea,PF,2021-04-17 23:55:40,-23.1203,-134.9692,77.58,66,63,5.03
11,11,Hilo,US,2021-04-17 23:55:41,19.7297,-155.0900,82.40,54,1,9.22
12,12,Puerto Ayora,EC,2021-04-17 23:55:41,-0.7393,-90.3518,77.00,94,92,4.00
13,13,Arraial Do Cabo,BR,2021-04-17 23:55:41,-22.9661,-42.0278,77.00,83,40,18.41
18,18,Georgetown,MY,2021-04-17 23:53:32,5.4112,100.3354,80.01,89,20,5.75
20,20,Faanui,PF,2021-04-17 23:51:11,-16.4833,-151.7500,82.35,73,79,8.72
25,25,Hambantota,LK,2021-04-17 23:55:45,6.1241,81.1185,77.18,85,99,14.45

In [20]:
preferred_cities_df.count()

City_ID       162
City          162
Country       162
Date          162
Lat           162
Lng           162
Max Temp      162
Humidity      162
Cloudiness    162
Wind Speed    162
dtype: int64

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0            Kibala      TD     80.60   9.1104   18.3463
6            Atuona      PF     80.64  -9.8000 -139.0333
8             Vaini      TO     78.80 -21.2000 -175.2000
10          Rikitea      PF     77.58 -23.1203 -134.9692
11             Hilo      US     82.40  19.7297 -155.0900
12     Puerto Ayora      EC     77.00  -0.7393  -90.3518
13  Arraial Do Cabo      BR     77.00 -22.9661  -42.0278
18       Georgetown      MY     80.01   5.4112  100.3354
20           Faanui      PF     82.35 -16.4833 -151.7500
25       Hambantota      LK     77.18   6.1241   81.1185

In [27]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [29]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kibala,TD,80.60,9.1104,18.3463,hotel safari
6,Atuona,PF,80.64,-9.8000,-139.0333,Villa Enata
8,Vaini,TO,78.80,-21.2000,-175.2000,Keleti Beach Resort
10,Rikitea,PF,77.58,-23.1203,-134.9692,Pension Maro'i
11,Hilo,US,82.40,19.7297,-155.0900,Hilo Hawaiian Hotel
12,Puerto Ayora,EC,77.00,-0.7393,-90.3518,Finch Bay Galapagos Hotel
13,Arraial Do Cabo,BR,77.00,-22.9661,-42.0278,Pousada Porto Praia
18,Georgetown,MY,80.01,5.4112,100.3354,Cititel Penang
20,Faanui,PF,82.35,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
25,Hambantota,LK,77.18,6.1241,81.1185,Bungalow 63

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))